<%- include('head') %>
<main id="main-body">
    <div id="logout-container">
        <h1>Welcome <span class="main-head" > <%= data.name %></span></h1>
        <a id="logout-btn" href="/logout">Logout</a>
    </div>
    </main>
<%- include('footer') %>