<%- include('head') %>
<div id="main-container">
    <div id="content-container">

        <% if(loggedIn){ %>
            <h1>I know who you are <span><% data.name %></span></h1>
        <% } else {%>
            <div id="form-container">
                <form action="/login" method="post">
                    <div class="form-input">
                        <label for="name">Name</label>
                        <input type="text" name="name">
                    </div>
                    <div class="form-input">
                        <label for="name">Age</label>
                        <input type="text" name="age">
                    </div>
                    <input id="button" type="submit" value="Go">
                </form>
            </div>
        <% } %>
    </div>
</div>
<%- include("footer") %>