<%- include('head') %>
<main id="main-container">
    <section  id="content-container">
        <main id="cont">
            <div class="content" id="head">
                <h1 class="heading">NASA APOD (Astronomy Picture of the Day)</h1>
            </div>
            <div class="content" id="body">
                <p>
                    This site gives the NASA's APOD(Picture) of the day,
                    it can be multiple dates or it can be this day or a specific day for your choose.
                    for more information visit <a href="https://apod.nasa.gov/apod/astropix.html">NASA Apod</a> site.
                </p>
                <a href="/apod/calendar" class="btn">Calendar</a>
            </div>
        </main>
    </section>
</main>
<%- include('footer') %>