<%- include('base-head.ejs')%>
<div class="main-container">
    <main id="container-main">
        <h1>Publish your passions, your way</h1>
        
        <main>
            <div class="row">
                <p class="text">
                    Show Bloggs in 
                </p>
                <a class="links" href="blogs/show/">Here</a>
            </div>
        </main>
    </main> 
</div>
<%- include('base-footer.ejs')  %>