@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');

body, html{
    margin: 0px;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.main-container{
    background-image: url(assets/yellow-plane.jpeg);
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#container-main{
    padding: 10px;
    text-align: center;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#container-main h1{
    font-weight: bolder;
    font-size: 45px;
    letter-spacing: 3px;
    word-spacing: 10px;
}
.text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
    word-spacing: 5px;
}
.links{
    text-decoration: none;
    color: lavender;
    font-weight: 700;
    padding: 5px 25px 5px 25px;
    background-color: rgb(125, 121, 255);
    font-size: 23px;
    transition:  0.5s all ease-in-out;
    cursor: default;
}
.row{
    margin-bottom: 20px;
}
.links:hover{
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    background-color: blue;
    color: whitesmoke;
}
.card{
    width: calc(25% + 10px);
    background-color: rgba(197, 245, 252, 0.67);
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
}
#show-container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px;
}
.heading{
    font-size: 30px;
    font-weight: 700;
}
.card:hover{
    background-color: rgb(197, 245, 252);
    cursor: pointer;
}
.image{
    width: 100%;
}
.body-text{
    font-size: 20px;
}
.body sub{
    margin-left: 60%;
    font-weight: 400;
}

#main-form{
    border: 1px solid rgb(90, 90, 90);
    padding: 75px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.form-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}
.form-input label{
    font-size: 23px;
    color: white;
    font-weight: bold;
}
.form-input input, textarea{
    min-height: 30px;   
    background-color: rgba(255, 255, 255, 0.686);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 20px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    font-size: 23px;
}
#submit{
    font-size: 23px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    font-weight: 900;
    border-radius: 10px;
    background-color: yellow;
}

@keyframes dropdown{
    0%{
        top: -10%;
    }
    20%{
        top: 15%;
    }
    45%{
        top: 10%;
    }
    85%{
        top: -10%;
    }
    100%{
        opacity: 0;
    }
}

#alert{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
    background-color: rgba(166, 204, 238, 0.629);
    padding: 10px;
    backdrop-filter: blur(2px);
    font-size: larger;
    border-radius: 10px;
    animation: dropdown ease-in-out 6s forwards;
    animation-iteration-count: 1;
    padding: 5px 40px 5px 40px;  
    z-index: 1;
}
/* Phone View responsive */
@media screen and (max-width: 768px) {
    body{
        font-size: 16px;
        margin: 0px;
    }
    .main-container{
        width: 100%;
    }
    #show-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: none;
        padding: 0;
    }
    .card{
        width: fit-content;
        max-width: 420px;
    }
    #main-form{
        padding: 10%;
    }
    .form-input input, textarea, label{
        font-size: 16px;
    }
    #submit{
        font-size: 16px;
    }
}

