<%- include('head')%>
<div class="main-container">
    <main id="container-main">
        <h1>Welcome <%= data.fullName %></h1>
        <main>
            <div class="row">
                <a class="links" href="/logout">Logout</a>
            </div>
        </main>
    </main> 
</div>
<%- include('footer')%>